<configuration debug="false">

    <!-- NOTE: Because some unit tests assert the contents of stdout
         we redirect formatted logs to stderr so they don't interleave with stdout -->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender" >
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.containersol.minimesos.main" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>